.footer {
    padding-top: 3rem;
   
    .contacto {
        text-align: center;
    }

    .imagenes-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
         .div-footer {
        display: block;
        }
        .logo-insta {
            width: map-get($propiedadesmaps,ancho);
        }
        .logo-wpp {
            width: map-get($propiedadesmaps,ancho);
        }
        
        .logo-face {
            width: map-get($propiedadesmaps,ancho);
        }
        
        .bandera-italia {
            width: map-get($propiedadesmaps,ancho);
        }
        
}










