/* comienzo del main */
.super-picada {
    size: 5rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin-top: 5rem;
}

.destacado-1 {
    margin-top: 1rem;
}

.imagen-principal {
    height: 17rem;
    width: 17rem;
}

/*Pagina nosotros*/
.historia {
    text-align: justify;
    font-family: roboto;
    font-size: medium;
    margin: 1rem;
}
.iframe{
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}