//pagina inicio

.contenedor-imagenes {
    @extend %flex;
    text-align:map-get($propiedadesmaps,alineartexto );
    margin-top: 5rem; 
}


    .destacado-1 {
        margin-top: 1rem;
    }
    
    .imagen-principal {
        height: 17rem;
        width: 17rem;
    }


/*Pagina nosotros*/

.historia {
    text-align: justify;
    font-family: roboto;
    font-size: medium;
    margin: 1rem;
}

//pagina contacto
.iframe{
   @extend %flex;
    width: auto;
}


//Headings
h1 {
    font-size: 2rem;
    text-align:map-get($propiedadesmaps,alineartexto );

}

h2{
 font-family: $fuentePrincipal;
 color: nth($colores,4);
}

h3{
font-family: $fuentePrincipal;
font-size: x-large;
text-decoration: underline;
color: nth($colores,3);
}


